---
import Card from "./Card.astro";
import CardIcon from "./CardIcon.astro";

type ColorName =
  | "blue"
  | "teal"
  | "yellow"
  | "cyan"
  | "purple"
  | "magenta"
  | "orange";

interface Props {
  title: string;
  description: string;
  color: ColorName;
  href: string;
  isImage?: boolean;
  imageSrc?: string;
  imageAlt?: string;
  iconPadding?: string;
}

const { 
  title, 
  description, 
  color, 
  href, 
  isImage = false,
  imageSrc,
  imageAlt,
  iconPadding = "p-4"
} = Astro.props;
---

<Card href={href} color={color}>
  <div class="flex items-start gap-4">
    <CardIcon color={color} padding={iconPadding}>
      {isImage ? (
        <img
          src={imageSrc}
          alt={imageAlt}
          class="w-full h-full object-cover"
        />
      ) : (
        <slot name="icon" />
      )}
    </CardIcon>
    <div class="flex-grow">
      <div class="flex items-center justify-between">
        <h3
          class={`text-flexoki-tx font-medium group-hover:text-flexoki-${color} transition-colors`}
        >
          {title}
        </h3>
        <svg width="16" height="16" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" class="text-flexoki-tx-3 group-hover:translate-x-1 transition-transform">
          <path d='M4.5 12h15m0 0-5.625-6m5.625 6-5.625 6'/>
        </svg>
      </div>
      <p class="text-sm text-flexoki-tx-2 !m-0">
        {description}
      </p>
    </div>
  </div>
</Card>